* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}
.navbar{
  height: 44px;
  background-color: #fafafc;
}
.nav_container{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 22px;
}
.nav-link{
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1;
  color: rgba(0, 0, 0, .8) !important;
}
.nav-link:hover{
  color:#000000  !important;
}
.nav-link.icon{
  font-size: 15px;
  vertical-align: middle;
}
.nav-link.active{
  color: rgb(23, 139, 143) !important;
}